In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC

 - SVM 알고리즘은 데이터셋의 각 피처(열) 벡터들이 고유의 축을 갖는 벡터 공간을 이룬다고 가정
 - 모든 데이터를 벡터 공간 내의 좌표에 점으로 표시하고, 각 데이터가 속하는 목표 클래스(label)별로 나뉜다고 생각 하면됨
 - hyper plane(초평면) : N차원을 가지는 데이터 차원에서 N-1차원을 가지는 subspace 표현이 됨
 - support vector : 각 클래스별로 최외각에 있는 벡터
 - margin : 각 레이블들 사이의 여백
 - c : hard(적은 이상치 허용), soft(많은 이상치 허용)
 - gamma : 결정경계의 곡률을 결정하는데 사용
 - kernel : "linear", "poly", "rbf"

### 1. 목적 - SVM을 가지고 iris 데이터를 분류

### 2. 데이터 수집

In [16]:
df = load_iris()

df.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [17]:
x = df.data
y = df.target

In [18]:
x = pd.DataFrame(x, columns=df.feature_names)
y = pd.DataFrame(y, columns=["species"])

In [19]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [20]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   species  150 non-null    int32
dtypes: int32(1)
memory usage: 728.0 bytes

In [21]:
x.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.117570,0.871754,0.817941
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126
petal length (cm),0.871754,-0.428440,1.000000,0.962865
petal width (cm),0.817941,-0.366126,0.962865,1.000000

### 3.데이터 전처리
 - 스케일링
 - 레이블 인코딩

In [22]:
# 스케일링
transformer = MinMaxScaler()
transformer.fit(x)

MinMaxScaler()

In [23]:
x_data = transformer.transform(x)

In [27]:
le = LabelEncoder()
le.fit(y)

c:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [28]:
print(le.classes_)

[0 1 2]

In [30]:
y_data = le.transform(y)

c:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [31]:
# 훈련 평가 데이터
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, random_state=0, stratify = y_data)

### 4. 탐색적 데이터 분석(EDA)
 - 클래스별 비율, 시각화

### 5. 모델 선택

In [51]:
model = SVC(kernel="rbf", C=1.0, gamma="auto", probability=True)

### 6. 모델 학습

In [52]:
model.fit(X_train,y_train)

SVC(gamma='auto', probability=True)

### 7. 모델 평가

In [53]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.9464285714285714
0.9736842105263158

In [54]:
labels = ['세토사', '버시칼라', '버지니카']

#### 새로운 데이터 예측

In [55]:
new_test = [[5.3, 3.7, 1.5, 0.2]]

new_test = pd.DataFrame(new_test, columns=x.columns)

new_test = transformer.transform(new_test)

In [56]:
y_predict = model.predict(new_test)

In [61]:
label = labels[y_predict[0]]
print(label)

세토사