In [22]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from lightgbm import LGBMRegressor

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns

In [24]:
df = pd.read_excel("Sample - Superstore.xls")
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136

In [25]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [26]:
df.drop(["City","State","Row ID", "Order ID", "Order Date", "Ship Date","Ship Mode","Customer Name"],axis=1,inplace=True)

In [27]:
df.drop(["Region","Country","Product ID","Profit"], axis=1,inplace=True)

In [28]:
df.columns

Index(['Customer ID', 'Segment', 'Postal Code', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount'],
      dtype='object')

In [29]:
def encode(series):
    dic = dict(zip(series.unique(),range(len(series.unique()))))
    result = series.apply(lambda x : dic[x])
    return result
for i in df.columns[:6]:
    df[i] = encode(df[i])

In [30]:
df2 = pd.DataFrame(df["Product Name"].unique())
df2.columns =["Product Name"]

In [31]:
df2["Sales"] = 0
df2

      Product Name  Sales
0                0      0
1                1      0
2                2      0
3                3      0
4                4      0
...            ...    ...
1845          1845      0
1846          1846      0
1847          1847      0
1848          1848      0
1849          1849      0

[1850 rows x 2 columns]

In [32]:
for pName,Sales in zip(df["Product Name"],df["Sales"]):
    df2.loc[df2["Product Name"] == pName, "Sales"] = df2.loc[df2["Product Name"] == pName, "Sales"] + Sales

In [33]:
df2.sort_values(by="Sales",ascending=False).head(20)

      Product Name       Sales
1374          1374  61599.8240
451            451  27453.3840
1398          1398  22638.4800
483            483  21870.5760
1162          1162  19823.4790
692            692  19024.5000
306            306  18839.6860
1619          1619  18374.8950
316            316  17965.0680
1345          1345  17030.3120
156            156  16829.9010
466            466  16656.2000
1615          1615  15875.9160
26              26  15610.9656
1635          1635  14299.8900
1447          1447  13943.6680
1136          1136  12996.6000
216            216  12995.2915
445            445  12975.3820
1279          1279  11619.8340

In [34]:
df["Sales"] = df["Sales"]//100
df["Sales"]

0       2.0
1       7.0
2       0.0
3       9.0
4       0.0
       ...
9989    0.0
9990    0.0
9991    2.0
9992    0.0
9993    2.0
Name: Sales, Length: 9994, dtype: float64

In [35]:
# X = df.drop(["Product Name","Sales","Discount"], axis=1)
# y = df["Product Name"]

In [36]:
X = df.drop(["Product Name","Sales","Discount"], axis=1)
y = df["Product Name"]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [38]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((7495, 6), (2499, 6), (7495,), (2499,))

In [39]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
model.score(X_train,y_train),model.score(X_test,y_test)

(0.9897264843228819, 0.007603041216486595)

In [40]:
model.feature_importances_, X_test.columns

(array([0.36465732, 0.09403546, 0.33544802, 0.0021549 , 0.01028311,
        0.19342119]),
 Index(['Customer ID', 'Segment', 'Postal Code', 'Category', 'Sub-Category',
        'Quantity'],
       dtype='object'))

In [41]:
model1 = RandomForestRegressor(n_estimators= 100 , random_state=0)
model1.fit(X_train,y_train)
model1.score(X_train,y_train),model1.score(X_test,y_test)

(0.8494015727337181, -0.0059758553839808215)

In [42]:
model1.feature_importances_, X_test.columns

(array([0.3400128 , 0.056245  , 0.30841236, 0.02776405, 0.11965609,
        0.14790969]),
 Index(['Customer ID', 'Segment', 'Postal Code', 'Category', 'Sub-Category',
        'Quantity'],
       dtype='object'))